footer {
  height: 400px;
  width: 100%;

  background-image:
    url(./assets/img/dc-logo-bg.png),
    url(./assets/img/footer-bg.jpg);

  background-position:
    right 100px center,
    center center;

  background-repeat:
    no-repeat,
    no-repeat;

  background-size:
    500px auto,
    cover;

}

.footer-list {
  min-height: 100%;
  max-width: 500px;
  background-color: red;
}