footer {
  height: fit-content;
  width: 100%;

  background-image:
    url(./assets/img/dc-logo-bg.png),
    url(./assets/img/footer-bg.jpg);

  background-position:
    right 100px center,
    center center;

  background-repeat:
    no-repeat,
    no-repeat;

  background-size:
    500px auto,
    cover;

}

.footer-list {
  max-width: 60%;
}

a {
  text-decoration: none;
  color: gray;
  padding-top: 3px;
}

.footer-social {

  background-color: #303030;

  .container {
    min-height: 60px;
  }

  .socials {
    img {
      padding: 0 10px;
    }

    a {
      font-size: larger;
    }
  }
}

#comics {
  flex-wrap: wrap;
  gap: 2rem;

  li {
    width: calc(100%/6 - 2rem);
  }
}

.jumbotron {
  height: 350px;
  background-image: url(./assets/img/jumbotron.jpg);

  background-size: cover;
}